<section>
    <div>
    <form action="<%= job_job_applications_url %>" method="post">
        <h2><%= @job.title %></h2>
        <input type="submit" description="Apply">
    </form>
    </div>
</section>